{
	"presets": [
		"react",
		"stage-2"
	],
	"plugins": [
		"transform-flow-strip-types",
	],
	"env": {
		"cjs": {
			"presets": ["es2015"],
		},
		"es": {
			"presets": [["es2015", { "modules": false }]],
		}
	}
}
