[submodule "docs/examples/AreaChart"]
	path = docs/examples/AreaChart
	url = https://gist.github.com/b9658ffa431f1ffb8d6b.git
[submodule "docs/examples/CandleStickChart"]
	path = docs/examples/CandleStickChart
	url = git@gist.github.com:/b13b739458e65ff93f4a.git
[submodule "docs/examples/CandleStickStockScaleChart"]
	path = docs/examples/CandleStickStockScaleChart
	url = git@gist.github.com:/1eac0cb78f27b31415ac.git
[submodule "docs/examples/CandleStickStockScaleChartWithVolumeHistogramV1"]
	path = docs/examples/CandleStickStockScaleChartWithVolumeHistogramV1
	url = git@gist.github.com:/88cd65baa331d57caa83.git
[submodule "docs/examples/CandleStickStockScaleChartWithVolumeHistogramV2"]
	path = docs/examples/CandleStickStockScaleChartWithVolumeHistogramV2
	url = git@gist.github.com:/0a54ca33b05001f17f8f.git
[submodule "docs/examples/CandleStickChartWithCHMousePointer"]
	path = docs/examples/CandleStickChartWithCHMousePointer
	url = git@gist.github.com:/261fa4bc7b67536eb789.git
[submodule "docs/examples/CandleStickChartWithZoomPan"]
	path = docs/examples/CandleStickChartWithZoomPan
	url = git@gist.github.com:/a8465abe0061df1b7976.git
[submodule "docs/examples/CandleStickChartWithMA"]
	path = docs/examples/CandleStickChartWithMA
	url = git@gist.github.com:/a27298bb7ae613d48ba2.git
[submodule "docs/examples/CandleStickChartWithEdge"]
	path = docs/examples/CandleStickChartWithEdge
	url = git@gist.github.com:/70ea3fe28ad35bf3ed4c.git
[submodule "docs/examples/HaikinAshi"]
	path = docs/examples/HaikinAshi
	url = git@gist.github.com:/51379c24e9751d46dcea.git
[submodule "docs/examples/Kagi"]
	path = docs/examples/Kagi
	url = git@gist.github.com:/d1e5b75ac12f754bb21d.git
[submodule "docs/examples/PointAndFigure"]
	path = docs/examples/PointAndFigure
	url = git@gist.github.com:/d43ef867bead0f1de663.git
[submodule "docs/examples/Renko"]
	path = docs/examples/Renko
	url = git@gist.github.com:/df51fa445c26e123beb9.git
[submodule "docs/examples/CandleStickStockScaleChartWithVolumeHistogramV3"]
	path = docs/examples/CandleStickStockScaleChartWithVolumeHistogramV3
	url = git@gist.github.com:/2dc9dd83567cd41c830a.git
[submodule "docs/examples/CandleStickChartWithMACDIndicator"]
	path = docs/examples/CandleStickChartWithMACDIndicator
	url = git@gist.github.com:/109a2b8021689e1ffc79.git
