.react-stockchart {
	/*.axis {
		path, line {
			fill: none;
			stroke: $black;
			//shape-rendering: crispEdges;
			//opacity: 0.2;
		}
	}
	.grid.axis {
		path, line {
			fill: none;
			stroke: $black;
			shape-rendering: crispEdges;
			opacity: 0.2;
		}
	}
	.y {
		&.axis {
			path {
				display: none;
			}
		}
	}
	.current-coordinate {
		fill: none;
		stroke: steelblue;
		stroke-width: 3px;
	}
	.react-stockcharts-candlestick-candle {
		.up {
			fill: #6BA583;
			// stroke: $black;
			stroke: #6BA583;
			stroke-width: 1px;
			shape-rendering: crispEdges;
		}
		.down {
			fill: $red1;
			// stroke: $black;
			stroke: $red1;
			stroke-width: 1px;
			shape-rendering: crispEdges;
		}
		line {
			stroke: $black;
		}
	}
	.react-stockcharts-candlestick-wick {
		.up, .down {
			stroke: $black;
			stroke-width: 1px;
			shape-rendering: crispEdges;
		}
	}
	.line-stroke {
		shape-rendering: crispEdges;
		stroke: steelblue;
	}
	.overlay-stroke {
		stroke: steelblue;
	} *//*
	.react-stockcharts-kagi {
		.yin {
			fill: none;
			stroke: $red1;
			stroke-width: 2px;
		}
		.yang {
			fill: none;
			stroke: #6BA583;
			stroke-width: 2px;
		}
	}
	.react-stockcharts-point-and-figure {
		.up {
			fill: none;
			stroke: green;
			stroke-width: 1px;
		}
		.down {
			fill: none;
			stroke: $red1;
			stroke-width: 1px;
		}
	}
	.area {
		fill: lightsteelblue;
		opacity: 0.5;
	}
	.line {
		fill: none;
		stroke-width: 1px;
	} 
	.backgroundText {
		// font-size: 53px;
		text-anchor: middle;
		fill: $gray54;
		opacity: 0.15;
	}
	.react-stockcharts-cross-hair {
		stroke: $black;
		stroke-width: 1px;
		shape-rendering: crispEdges;
		opacity: 0.2;
	}
	.react-stockcharts-edge-coordinate {
		.react-stockchart-text-background {
			opacity: 0.95;
		}
		text {
			fill: $white;
		}
	}
	.vertical, .horizontal {
		.textbg {
			opacity: 0.9;
			fill: $gray54;
		}
		text {
			fill: $white;
		}
	}
	.grab {
		cursor: grab;
		cursor: -moz-grab;
		cursor: -webkit-grab;
	}
	.react-stockcharts-grabbing-cursor {
		cursor: grabbing;
		cursor: -moz-grabbing;
		cursor: -webkit-grabbing;
	}
	.react-stockcharts-crosshair-cursor {
		cursor: crosshair;
	}
	.react-stockcharts-toottip-hover {
		pointer-events: all;
		cursor: pointer;
	}*//* 
	.histogram {
		rect.bar {
			fill: steelblue;
			opacity: 0.5;
			stroke: none;
		}
		line.bar {
			opacity: 0.5;
			stroke: steelblue;
		}
		.up {
			fill: #6BA583;
			opacity: 0.3;
			stroke: none;
		}
		.down {
			fill: $red1;
			opacity: 0.3;
			stroke: none;
		}
		line.up {
			stroke: #6BA583;
		}
		line.down {
			stroke: $red1;
		}
	} 
	.macd-series {
		.macdline {
			stroke: red;
			fill: none;
		}
		.signalline {
			stroke: green;
			fill: none;
		}
		.horizontal {
			stroke: black;
			opacity: 0.2;
			fill: none;
		}
		.macd-histogram {
			opacity: 0.5;
		}
	}
	.react-stockcharts-moving-average-tooltip {
		rect {
			fill: none;
			stroke: none;
			//stroke-width: 1px;
			&:hover {
				fill: $gray54;
				opacity: 0.3;
			}
		}
		line {
			stroke-width: 4px;
		}
		text {
			//text-anchor: middle;
		}
	}
	.hide {
		display: none!important;
	}
	.show {
		display: block!important;
	}
	.react-stockcharts-tooltip {
		font-size: 11px;
		.react-stockcharts-tooltip-label {
			fill: steelblue;
			font-weight: bold;
		}
		tspan {
			font-weight: normal;
		}
	}*/
}